body, html {
  background-color: #8D8D8D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%238D8D8D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23929292' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23989898' cx='50' cy='100' r='50'/%3E%3Cg fill='%239d9d9d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a3a3a3' cx='50' cy='200' r='50'/%3E%3Cg fill='%23a8a8a8' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aeaeae' cx='50' cy='300' r='50'/%3E%3Cg fill='%23b3b3b3' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b9b9b9' cx='50' cy='400' r='50'/%3E%3Cg fill='%23bfbfbf' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c4c4c4' cx='50' cy='500' r='50'/%3E%3Cg fill='%23cacaca' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d0d0d0' cx='50' cy='600' r='50'/%3E%3Cg fill='%23d6d6d6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dcdcdc' cx='50' cy='700' r='50'/%3E%3Cg fill='%23e1e1e1' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e7e7e7' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ededed' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f3f3f3' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f9f9f9' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  overflow-x: hidden;
}

button:hover {
  background-color: #AF2002 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='52.1' stroke-opacity='0.05' %3E%3Ccircle fill='%23AF2002' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23aa130e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23a40317' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%239e001e' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23970023' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%238f0027' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2387002b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%237e002e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23750030' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%236c0031' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23620032' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23580032' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%234e0031' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23440030' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233b012e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2331032b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23290328' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  color: white !important;
}

.logo-container {
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.scroll-menu {
  padding: 10px;
  background: #FFFFFF;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 100%;
}

.first-row p-image {
  max-width: 500px !important;
}

.second-row p-image {
  max-width: 500px !important;
}
.text {
  display: flex;
  flex-direction: column;
}

.first-row p-card {
  max-width: 500px !important;
}

.second-row p-card {
  max-width: 500px !important;
}


.logo-container h1 {
  font-size: 10vh !important;
  color: #af2002;
}

.logo-container h3 {
  font-size: 5vh !important;
  color: #af2002;
}

h2 {
  font-size: 6vh !important;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.team-section p-image{
  border-radius: 50% !important;
}

.collapsible-container {
  height: 100% !important;
}

p-image {
  margin-top: 20px;
}

#last-row {
  align-items: center;
}

p-card {
  margin-top: 20px;
}

.p-fieldset-content {
  text-align: center !important;
}

.first-row .p-card {
  background-color: #AF2002;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='52.1' stroke-opacity='0.05' %3E%3Ccircle fill='%23AF2002' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23aa130e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23a40317' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%239e001e' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23970023' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%238f0027' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2387002b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%237e002e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23750030' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%236c0031' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23620032' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23580032' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%234e0031' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23440030' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233b012e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2331032b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23290328' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white !important;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
}

.second-row .p-card {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FCFBFF' stroke-width='35.5' stroke-opacity='0.05' %3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fbfbfb' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f6f6f6' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f2f2f2' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ededed' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e9e9e9' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23e5e5e5' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e0e0e0' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dcdcdc' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23d8d8d8' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23d3d3d3' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23cfcfcf' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23cbcbcb' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23c7c7c7' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23c3c3c3' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23bebebe' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23bababa' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23B6B6B6' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
}

.first-row .p-ripple {
  background-color: #ff0e0e;
  background-image: linear-gradient(225deg, #ff0e0e 0%, #ba0021 50%, #770c0c 100%);
  color: white !important;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-logo-row {
  height: 20vh !important;
}

.container {
  margin: 0 !important;
}

.p-button-lg {
  width: 100% !important;
  color: #af2002 !important;
  background: #FFFFFF !important;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.row > div {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.button-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.services-accordition {
  margin: 10px;
}

.blank-row {
  height: 50px !important;
}

.section-header {
  color: #af2002 !important;
  margin: 50px auto 0 auto;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.collapsible-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.collapsible-icon {
  display: flex;
  align-items: center;
  margin: 5px;
}


.break {
  height: 50px;
}


.p-image-preview-indicator {
  border-radius: 50% !important;
}

.collapsible {
  z-index: 5;
}

.p-fieldset-legend-text{
  font-size: 1em !important;
}

.p-fieldset-content {
  font-size: 20px !important;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.photo-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px;
}

.text-panel {
  margin: 10px;
}

.header-icon {
  width: 50px !important;
}

.p-card-header{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.first-row .p-card-header {
  border-bottom: 1px solid white;
}

.second-row .p-card-header {
  border-bottom: 1px solid black;
}


.p-card-header img {
  margin: 10px;
}

.p-card-header h2 {
  margin: 10px;
}
.product-image {
  width: 100%;
  border-radius: 25px;
  max-width: 500px !important;
}

.highlight-on-hoover:hover {
  background-color: #ff0e0e !important;
  background-image: linear-gradient(225deg, #ff0e0e 0%, #ba0021 50%, #770c0c 100%) !important;
  color: white !important;
  cursor: pointer;
}

.price-col {
  width: 120px;
}


.product-item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  border: black 2px solid;
}

.pricing-long {
  padding: 20px;
  width: 700px;
  margin: auto;
}

.pricing-list-long-wrap {
  width: 800px;
  margin: 25px auto 25px auto !important;
}
.p-card-header {
  justify-content: flex-start !important;
}

td {
}

th {
  border-radius: 10px 10px 0 0;
  background-color: #7F0C25 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%237F0C25'/%3E%3Cstop offset='1' stop-color='%23F20917'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E") !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  color: white !important;
}

.pricing-table-box {
  display: flex;
  justify-content: center;
}

.p-galleria-thumbnail-item {
  margin: 5px !important;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7b0000 !important;
  padding: 25px;
  border-radius: 25px;
  border: 5px solid black;
  height: 100vh;
}

.footer{
  background-color: #ff0e0e;
  background-image: linear-gradient(225deg, #ff0e0e 0%, #ba0021 50%, #770c0c 100%);
  color: white !important;
  border: 2px solid #000000;
  padding: 25px;
  margin: 50px auto 50px auto;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px !important;
}

.footer-section > h2, p {
  padding-right: 10px;
  padding-left: 10px;
}

.footer-margin {
  margin: 20px;
}

.footer-section > h2 {
  font-size: 36px !important;
}

.footer-section > p {
  font-size: 24px !important;
}

.bold {
  font-weight: 700
}

