body, html {

  background-image: url("http://192.168.0.206:8080/svg2.svg");
  background-repeat: repeat-y;
  overflow-x: hidden;
}

.first-row p-image {
  max-width: 500px !important;
}

.second-row p-image {
  max-width: 500px !important;
}


h1 {
  font-size: 10vh !important;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.first-row {
  background: #FFFFFF;
  border-radius: 25px;
  border: black solid 5px;
  padding: 50px;
  margin: 50px 25px 50px 25px !important;
}

.p-fieldset-content {
  text-align: center !important;
}

.second-row {
  background: #5c0707;
  border-radius: 25px;
  border: black solid 5px;
  padding: 50px;
  margin: 50px 25px 50px 25px !important;
}

.first-row .p-fieldset {
  background: #5c0707 !important;
  color: white !important;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
}

.second-row .p-fieldset {
  -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
}

.first-row .p-ripple {
  background: #5c0707 !important;
  color: white !important;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-logo-row {
  height: 20vh !important;
}

.container {
  margin: 0 !important;
}

.p-button-lg {
  margin: 10px !important;
  width: 100% !important;
  color: #5c0707 !important;
  background: #FFFFFF !important;

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.row > div {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.button-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.services-accordition {
  margin: 10px;
}

.blank-row {
  height: 50px !important;
}

.section-header {
  color: #5c0707 !important;
  background: white;
  border-radius: 25px;
  border: solid #5c0707 4px;
  margin: 50px auto 0 auto;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.collapsible-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.collapsible-icon {
  display: flex;
  align-items: center;
  margin: 5px;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.collapsible {
  margin: 30px;
  z-index: 5;
}

.p-fieldset-legend-text{
  font-size: 1em !important;
}

.p-fieldset-content {
  font-size: 20px !important;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.photo-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px;
}

.text-panel {
  margin: 10px;
}

.product-image {
  width: 100%;
  border-radius: 25px;
  max-width: 500px !important;
}

.highlight-on-hoover:hover {
  background: gray !important;
  color: white !important;
  cursor: pointer;
}

.price-col {
  width: 120px;
}


.product-item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  border: black 2px solid;
}

.pricing-long {
  padding: 20px;
  width: 700px;
  margin: auto;
}

.pricing-list-long-wrap {
  background: #FFFFFF;
  width: 800px;
  margin: 25px auto 25px auto !important;
  border: 2px solid #000000;
}

.pricing-table-box {
  display: flex;
  justify-content: center;
}

.p-galleria-thumbnail-item {
  margin: 5px !important;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5c0707 !important;
  padding: 25px;
  border-radius: 25px;
  border: 5px solid black;
  height: 100vh;
}

.footer{
  background: #5c0707 !important;
  color: white !important;
  border: 2px solid #000000;
  padding: 25px;
  margin: 50px auto 50px auto;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px !important;
}

.footer-section > h2, p {
  padding-right: 10px;
  padding-left: 10px;
}

.footer-margin {
  margin: 20px;
}

.footer-section > h2 {
  font-size: 36px !important;
}

.footer-section > p {
  font-size: 24px !important;
}

.bold {
  font-weight: 700
}

.photo-background {
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  margin: 10px;
}

